@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-dark font-serif text-white
  }

  svg.active {
    @apply fill-secondary
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2
  }
  
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-light-o
  }

    ::-webkit-scrollbar-track {
      @apply bg-dark
    }
}

@layer components {
  .fr__input {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    border-radius: 0.25em;
    display: block;
    width: 100%;
    height: 4px;
    transition: background-color 1s;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .fr__input:hover {
    background-image: linear-gradient(#FACD66, #FACD66);
  }


  /* WebKit */
  .fr__input::-webkit-slider-thumb {
    background-color: white;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

  .fr__input:hover::-webkit-slider-thumb {
    background-color: #FACD66;
    display: block;
  }

  /* Firefox */
  .fr__input::-moz-range-thumb {
    background-color: white;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: none;
  }

  .fr__input:hover::-moz-range-thumb {
    background-color: #FACD66;
    display: block;
  }
}